* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* color scheme*/
.github-dark{
  color: #333;
}
.github-blue{
  color: #4078c0;
}
.github-green{
  color: #6cc644;
}
.github-red{
  color: #bd2c00;
}
.github-purple{
  color: #6e5494;
}
.github-light{
  color: #f5f5f5;
}

/* Background Scheme */
.bg-github-dark{
  background-color: #333;
}
.bg-github-light{
  background-color: #f5f5f5;
}

body {
  font-family: "Noto Sans Mono", monospace;
}

.navbar {
  justify-items: auto;
}

.navbar-brand img {
  width: 40px;
  height: 40px;
  background-color: white;
  cursor: pointer;
}
.heading {
  margin-top: 10px;
  text-align: center;
}
p {
  text-align: center;
}
footer {
  padding-top: 1em;
  text-align: center !important;
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 100px;
  color: rgb(255, 255, 255);
}
.footer {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1em;;
  padding: 20px 0px 20px 0px;
}
footer hr{
  height: 1px;
  background-color:#fff;
  width: 40%;
  margin-left: 30%;
}

.footer a:hover {
  color: #4078c0;
  text-decoration: none;
}